build
.dev_bash_history
build-bin
nohup.out
.vscode
*.log
*.mp4
*.wts
*.engine
*.onnx
*.tar.xz
third_party
__pycache__


data
runs
logs
tmp
output
.cache
packages
P550
linux-eswin
uboot-eswin
opensbi-eswin
